footer {
    background-color: whitesmoke;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.footer-nav-items {
    display: flex;
    gap: 30%;
    list-style: none;
    justify-content: center;
    transform: translateX(-50%, 0);
}

.footer-nav-item a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Tibetan Machine Uni";
}

.footer-nav-item a:hover {
    color: darkblue;
}