td, th {
    border: 1px solid #777;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

#dom-task {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#dom-task button {
    margin-top: 10px;
    font-size: 15px;
    width: 80px;
}

.odd-row-class {
    background-color: whitesmoke;
}

.even-row-class {
    background-color: red;
}